<ion-view view-title="联系人">
	<ion-content>
	<ion-refresher pulling-text="{{refreshTime}}" on-refresh="doRefresh()"></ion-refresher>
	<ion-list>
	  

    
   	 <div class="bar bar-header-darks item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="搜索">
	  </label>
	</div>

	<div class="row">
	  <a class="tab-item">
	    <i class="icon ion-person-add"></i>
	    新朋友
	    <ion-nav-view name="tab-trends-friendTrends"></ion-nav-view>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-person-stalker"></i>
	    群聊
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-gear-b"></i>
	   	公众号
	  </a>
	</div>

	<div class="item item-divider"></div>

	<a class="item item-icon-left" href="#">
	   <i class="icon ion-android-arrow-dropright"></i>
	   特别关心
	   <span class="item-note">0/0</span>
	</a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    常用群聊
    <span class="item-note">0</span>
  </a>

  <div class="item item-divider"></div>

	<a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    何时归家洗客袍
    <span class="item-note">12/20</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    岁月总生尘土
    <span class="item-note">23/31</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    小禽飞去烟疏灭
    <span class="item-note">57/72</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    并首重把旧书读
    <span class="item-note">24/32</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    莫为浮荣拌此生
    <span class="item-note">82/117</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    前端小伙伴们
    <span class="item-note">45/77</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    三年后，副盛名
    <span class="item-note">52/62</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    才多少，风云同驱
    <span class="item-note">0/2</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    相识自有因缘在
    <span class="item-note">20/29</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    江西大学文学社
    <span class="item-note">4/12</span>
  </a>

  <div class="item item-divider"></div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    手机通讯录
    <span class="item-note">3/7</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-arrow-dropright"></i>
    我的设备
    <span class="item-note">2/2</span>
  </a>
    
	</ion-list>
	</ion-content>
</ion-view>