<ion-tabs class="tabs-icon-top tab-positive">
  <ion-tab title="消息" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#tab/message">
      <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

  <ion-tab title="电话" icon-off="ion-ios-telephone-outline" icon-on="ion-ios-telephone" href="#tab/phone">
    <ion-nav-view name="tab-phone"></ion-nav-view>
  </ion-tab>

  <ion-tab title="联系人" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/linkman">
    <ion-nav-view name="tab-linkman"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="动态" icon-off="ion-android-star-outline" icon-on="ion-android-star" href="#tab/trends">
    <ion-nav-view name="tab-trends"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>